
.search-location-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.search-location-input > input {
    padding: 15px;
    display: flex;
    flex-direction: column;
    /*width: 484px;*/
    width: 80%;
    border-radius: 24px;
    border: 1px solid #d8d8d8;
}