#providerContainer{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

#actionContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 8px;
    width: 100%;
}

#actionContainer > Link{
    color: white;
}
#actionContainer > Button{
    margin-right: 2px;
    color:white;
}

#noneElement{
    display: none;
}

#providerButton{
    background-color: #132C3C;
    color: white;
}


@media only screen and (max-width: 600px) {
    #actionContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 8px;
        width: 100%;
    }

    #actionContainer > Button{
        margin-bottom: 8px;
        color:white;
    }
}